button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #45a049;
}

.header {
  display: flex;
  align-items: center;      
  gap: 20px;              
}

.header h1 {
  min-width: 250px;  
}


.header .buttons a {
  margin: 0;                 
}

p {
  margin: 2px 0; 
  line-height: 1.2; 
}

.page2-line {
  margin: 10px 0;  
  line-height: 1.4; 
}

.content-container {
  max-width: 600px;   
  margin: 0 auto;     
  text-align: center; 
}

body {
  padding-top: 10px; 
}
